@font-face {
  font-family: 'Oooh Baby';
  src: url('../fonts/OoohBaby-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Spectral;
  src: url('../fonts/Spectral/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Karla;
  src: url('../fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}
