{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock body_class %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock extra_css %}

{% block content %}
  <!--  templates/home/home_page.html -->
  <page-header></page-header>
  <article>
    <hero-block title="Welcome">
      <p>This is my personal/professional website.</p>
      <p>It is very much a work in progress, with minimal design and some parts not yet implemented.</p>
    </hero-block>
    <main id="content" style="margin-top: var(--space-2);">
      <principles-block></principles-block>
    </main>
  </article>
  <footer></footer>
{% endblock content %}
