{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock body_class %}

{% block content %}
  <!--  templates/home/home_page.html -->
  <page-header tabs="About Me,About This Site,Blog" urls="/about_me,/about_this,/blog"></page-header>
    <article>
    {{ page.header }}
    <section id="intro">
      {{ page.intro|richtext }}
    </section>
    <main id="content">
      {{ page.content }}
    </main>
  </article>
  <footer>
  <unsplash-credit
    photographer="David Moum"
    title="Download free do whatever you want high-resolution photos from David Moum"
    href="https://unsplash.com/@davidmoum?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"></unsplash-credit>
  </footer>
{% endblock content %}
