**/*.sqlite3
**/*.db
app/.idea/
app/.vscode/
**/.venv/
**/.DS_Store
**/.env*
**/*.bak
**/.DS_Store
**/__pycache__

app/.dir-locals.el
app/.pnp.*
app/.prettier*
app/.yarn/
app/.gitignore
app/.ropeproject
app/.yarnrc.yml
app/.stylelintrc.json
app/media/
