-c requirements.txt

# code formatting
isort
# [d] allows black to run in background & be used by IDE
black[d]
djhtml

#testing
factory-boy
coverage
django_coverage_plugin
vcrpy
freezegun

# linting
flake8
flake8-django
mypy
django-stubs
types-python-dateutil
types-freezegun
types-requests

ipython
