wagtail
psycopg2-binary
django-widget-tweaks
dj-database-url

# debug
django-debug-toolbar

# web server
gunicorn

# Feature flags
django-waffle

# Logging
structlog
django-structlog

# Optional but common requirements
django-redis
