-c requirements.txt

# code formatting
isort
ruff
ruff-lsp
djhtml

#testing
factory-boy
coverage
django_coverage_plugin
vcrpy
freezegun

# linting
flake8-django
mypy
django-stubs
types-python-dateutil
types-freezegun
types-requests

# vastly superior REPL
ipython
