.masthead {
  margin-bottom: 2rem;
  margin-right: 15%;
  margin-left: 15%;
}

.masthead-brand {
  margin-bottom: 0;
  color: black;
  margin-top: 2rem;
}

.ad-notice {
  background-color: red;
  opacity: 0.5;
}

.masthead .masthead-brand {
  font-size: 3.5rem;
  font-family: "Oooh Baby", cursive;
  margin-top: 5rem;
}

#intro {
  text-align: center;
  margin-top: 5rem;
  color: #333;
  font-family: Roboto, sans-serif;
}

#content h2 {
  font-family: "Oooh Baby", cursive;
  margin-top: 5rem;
  color: orangered;
}
