@import url("../colors.css");
@import url("../fonts/Fonts.css");
@import url("../vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css");

.masthead {
  margin-bottom: 2rem;
  margin-right: 15%;
  margin-left: 15%;
}

.masthead-brand {
  margin-bottom: 0;
  color: var(--dark-grey);
  margin-top: 2rem;
}

.ad-notice {
  background-color: var(--light-grey);
  opacity: 0.5;
}

.masthead .masthead-brand {
  font-size: 3.5rem;
  font-family: Spectral, serif;
  margin-top: 5rem;
}

#intro {
  text-align: center;
  margin-top: 5rem;
  color: var(--light-grey);
  font-family: Roboto, sans-serif;
}

#content h2 {
  font-family: Karla, serif;
  margin-top: 5rem;
  color: var(--dark-grey);
}
