@import url("../colors.css");

.nav-masthead {
  margin-top: 1rem;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-family: Karla, serif;
  font-weight: 700;

  /* font-variant: small-caps; */
  color: var(--dark-grey);
  background-color: transparent;

  /* border-bottom: 0.25rem solid transparent; */
  font-size: 2.5rem;
}

.nav-masthead .nav-link a {
  color: var(--light-grey);
}

.nav-masthead .nav-link a:hover {
  color: var(--dark-grey);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--dark-grey);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .nav-link.active a {
  color: var(--dark-grey);
  border-bottom-color: var(--dark-grey);
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

.app-nav span:nth-child(1) {
  margin-left: 0;
}
