#us-logo {
  display: inline-block;
  padding: 2px 3px;
}

#us-logo svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -2px;
  fill: white;
}

#photographer {
  display: inline-block;
  padding: 2px 3px;
}
