{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock title %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock title_suffix %}
    </title>
    <meta name="description" content="A Lloyd Flanagan's Personal Website" />
    <!-- <link rel="apple-touch-icon" href="{% static 'images/logo192.png' %}" /> -->
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <!-- <link rel="manifest" href="{%  static 'manifest.json' %}" /> -->
    <!-- TODO: integrate with webpack -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantata+One|Roboto&display=swap">

    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    {% block extra_css %}

    {% endblock extra_css %}
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    <div id="app">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    {# Global javascript #}
    <script
      type="text/javascript"
      src="{% static 'dist/bundle.js' %}"
      defer="defer"></script>

    {% block extra_js %}

    {% endblock extra_js %}
  </body>
</html>
