# files collected by manage.py collectstatic

# yarn pnp files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz

.env*
sqlite3.db

media/*
!media/.keep
static/*
!static/.keep
