
<footer class="mastfoot mt-auto app-footer">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <aside class="tech-note">
            <div>
              Based on a design by{' '}
              <a
                href="https://github.com/jordanhudgens"
                rel="noreferrer"
                target="_blank"
              >
                Jordan Hudgens
              </a>
              .
            </div>
            <div>
              Powered by{' '}
              <a
                href="https://reactjs.org/"
                rel="noreferrer"
                target="_blank"
              >
                React
              </a>
              ,{' '}
              <a
                href="https://redux.js.org/"
                rel="noreferrer"
                target="_blank"
              >
                Redux. &nbsp;&nbsp;
              </a>
              Styles are based on{' '}
              <a
                href="https://getbootstrap.com"
                rel="noreferrer"
                target="_blank"
              >
                Bootstrap 4
              </a>
              .
            </div>
          </aside>
        </div>
        <div class="col"></div>
        <div class="col-5">
          {% comment %}
              <Card id="copyright">
                <CardBody className="p-1 text-dark">
                  <CardText>
                    &copy; A Lloyd Flanagan 2022 License GPL3.
                  </CardText>
                </CardBody>
              </Card>
              {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</footer>
