<nav class="nav nav-masthead justify-content-center app-nav">
  <span class="nav-link"><a href="{% url 'about' %}" hx-boost="true" hx-target="#home-content" hx-trigger="hover">About Me</a></span>
  <span class="nav-link"><a href="#contact">Contact Me</a></span>
  <span class="nav-link"><a href="#blog">Blog</a></span>
  <span class="nav-link"><a href="#portfolio">Portfolio</a></span>
</nav>

{% comment %}
<span class="nav-link"><a href="/accounts/logout">Logout</a></span>
<span class="nav-link"><a href="/accounts/login">Login</a></span>
<span class="nav-link"><a href="/accounts/signup">Register</a></span>
{% endcomment %}
