/*
@import url("components/Footer.css");
@import url("components/Header.css");
*/
@import url("./variables.css")
@import url("./colors.css");
@import url("../fonts/Fonts.css");
@import url("../vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css");
@import url("components/Tabs.css");

/* general plan is to put css for internals of component in component, but
   external things like spacing should be here, as well as default overrides. */

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: var(--background);
  text-shadow: 0 0.05rem 0.1rem var(--light-grey);
  box-shadow: inset 0 0 5rem var(--light-grey);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

#app {
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: Spectral, serif;
}

#content {
  flex: 1 0 auto;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-float infinite 3s ease-in-out;
  }
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: var(--slate);
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
